body{
    background-color: #4ea03e;
    padding-left: 2em;
    padding-right: 2em;
    padding-block: 3em;
}

div.content{
    background-color: #dae8aa;
    height: 800px;
    width: 100%;
    padding: 1em;
}
div.sidebar{
    width: 50%;
}